.container__game {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	min-width: 520px;
}

.container__top {
	display: flex;
	min-height: 96px;
	align-items:center;
	/* navigation 과 겹치지 않기 위해 */
	margin-top: 3rem;
}

.container__top div {
	color: black;
	font-size: 1.4rem;
}

.container__dice {
	display: flex;
	justify-content: space-around;
}

.gameFocusInput {
	opacity: 0;
}

.container__map {
	/* absolute 인 자식컴포넌트들의 기준이 되기 위해. */
	position: relative;
}

/* ========== 배경 이미지 ========== */

.image__cat,
.image__dog {
	width: 15rem;
}

.logo__blueBox,
.logo__redBox {
	width: 14.25rem;
	height: 20%;
}

.logo__blueBox {
	background-color: var(--blue);
}

.logo__redBox {
	background-color: var(--red);
}

.icon__cat,
.icon__dog {
	width: 4rem;
	padding: 0 2rem;
}

/* ========== 키보드 키 사용 설명 부분 ========== */

.container__button {
	display: flex;
	padding-top: 3rem;
	/* container__score__bottom 과 겹쳐지지 않게 하기 위해 */
	padding-bottom: 5rem;
}

.container__button button {
	font-size: 1rem;
}

.container__spacebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button__spacebar {
	width: 15rem;
	height: 5rem;
	background: linear-gradient(160deg, #ffffff30 60%, #ffffff55 1%, #ffffff20);
	border: .1rem solid #ffffff55;
	border-radius: 3rem;
	color: white;
}

.container__arrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* 스페이스바 버튼이랑 간격 */
	padding-left: 3rem;
}

.container__arrowKey {
	display: flex;
	flex-direction: column;
	width: 12.8rem;
	height: 5rem;
	align-items: center;
	justify-content: space-between;
}

.container__arrow p,
.container__spacebar p {
	color: white;
	font-size: 1.3rem;
}

.container__arrowKey div {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.button__arrow {
	width: 4rem;
	height: 2.2rem;
	background: linear-gradient(160deg, #ffffff30 60%, #ffffff55 1%, #ffffff20);
	border: .1rem solid #ffffff55;
	border-radius: 1.5rem;
	color: white;
}

/* ==========점수판 관련 ========== */

.score__bg,
.score__highlight {
	display: flex;
	width: 6rem;
	height: 6rem;
	align-items: center;
	justify-content: center;
	transform: rotate(45deg);
	border-radius: 5rem 5rem 0 5rem;
	/* 회전으로 인해 이미지와 살짝 겹치는 것을 피하기 위해 */
	margin: 1rem 0;
}

.score__bg {
	background-color: white;
	color: black;
	font-size: 2.5rem;
}

.score__highlight {
	background-color: var(--green);
	color: white;
	font-size: 5rem;
	/* 차례인 쪽 크기 커지기 */
	width: 10rem;
	height: 10rem;
}

.score__bg div,
.score__highlight div {
	transform: rotate(-45deg);
}

.container__score__bottom {
	display: none;
}

@media screen and (max-width: 1200px) {
	.container__score__bottom {
		position: fixed;
		bottom: 0;
		display: flex;
		width: 100vw;
		height: 4rem;
		background-color: white;
		align-items: center;
		justify-content: space-around;
		z-index: 2;
		min-width: 520px;
	}

	.score__bg,
	.score__highlight {
		display: flex;
		width: 50%;
		height: 100%;
		font-size: 2rem;
		border-radius: 0;
		margin: 0;
		transform: rotate(0);
	}

	.score__bg div,
	.score__highlight div {
		transform: rotate(0);
	}
}